# Chapter 2 - Crash course in Python

In [1]:
from __future__ import division

## Functoins

In [6]:
def double(x):
    """This Function multiplies its input by 2"""
    return x*2
def apply_to_one(f):
    """Calls the function f with one as its argument"""
    return f(1)

my_double = double
x = apply_to_one(my_double)

print x

2

In [8]:
y = apply_to_one(lambda x: x + 4)
print y

5

In [12]:
def my_print(message="my default message"):
    print message
    
my_print("hello")
my_print()

hello
my default message

In [10]:
def subtract(a=0,b=0):
    return a-b

print subtract(10,5)
print subtract(0,5)
print subtract(b=5)

5
-5
-5

## Strings

In [20]:
single_quoted_string = 'data science'
double_quoted_string = "data science"
multi_line_string = """This is the First line.
This is the Second line.
This is the Third line"""
print(single_quoted_string)
print(double_quoted_string)
print(multi_line_string)

data science
data science
This is the First line.
This is the Second line.
This is the Third line

In [18]:
tab_string = "\t"
print len(tab_string)
not_tab_string = r"\t"
print len(not_tab_string)

1
2

## Exceptions

In [22]:
try:
    print 0/0
except ZeroDivisionError:
    print "cannot divide by zero"

cannot divide by zero

## Lists

In [26]:
integer_list = [1,2,3]
heterogeneous_list = ["String",0.1,True]
list_of_lists = [integer_list, heterogeneous_list, []]

print(list_of_lists)
print len(integer_list)
print sum(integer_list)

[[1, 2, 3], ['String', 0.1, True], []]
3
6

In [27]:
x = range(10)
print x[0]
print x[1]
print x[-1]
print x[-2]
x[0] = -1
print x

0
1
9
8
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
print x[:3]
print x[3:]
print x[1:5]
print x[-3:]
print x[1:-1]
print x[:]

[-1, 1, 2]
[3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
1 in x

True

In [32]:
0 in x

False

In [34]:
x = [1,2,3]
x.extend([4,5,6])
print x

[1, 2, 3, 4, 5, 6]

In [35]:
y = x + [7,8,9]
print x
print y

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
x.append(0)
print x
print y

[1, 2, 3, 4, 5, 6, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
x,y = [1,2]
print x
print y

1
2

## Tuples

In [38]:
my_list = [1,2]
my_tuple = (1,2)
other_tuple = 3,4
my_list[1] = 3
print my_list

try:
    my_tuple[1] = 3
except TypeError:
    print "cannot modify a tuple"

[1, 3]
cannot modify a tuple

Tuples are a convenient way to return multiple values from functions:

In [39]:
def sum_and_product(x,y):
    return (x+y),(x*y)

sp = sum_and_product(2,3)
s,p = sum_and_product(5,10)

print sp
print s
print p

(5, 6)
15
50